[project]
	description = Display the left of free disk space in your mac.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/daichi (dai---chi)
[access "refs/for/refs/*"]
	read = group user/daichi (dai---chi)
	push = group user/daichi (dai---chi)
	label-Code-Review = -2..+2 group user/daichi (dai---chi)
	label-Verified = -1..+1 group user/daichi (dai---chi)
	rebase = group user/daichi (dai---chi)
	removeReviewer = group user/daichi (dai---chi)
	submit = group user/daichi (dai---chi)
[access "refs/heads/*"]
	read = group user/daichi (dai---chi)
	create = group user/daichi (dai---chi)
	push = +force group user/daichi (dai---chi)
	pushMerge = group user/daichi (dai---chi)
[access "refs/tags/*"]
	push = +force group user/daichi (dai---chi)
	pushTag = group user/daichi (dai---chi)
	pushSignedTag = group user/daichi (dai---chi)
